<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>BLOG APP</title>
    </head>
    <body>
       {% for article in articles %}
     
<a href="{% url 'single' %}"> 
<h2>{{article.title}}</h2></a>
       <a>Posted by : {{article.author}}, poseted in : {{article.category}}</a>
       <img src="{{article.image.url}}" alt="{{article.title}}">
       <p>{{article.content}}</p>
       {% endfor %}
       <h1>Add more articles</h1><br>
       <a href="addarticle.html">addarticle</a>
       <br>
    </body>
</html>
